<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>auto check</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
  <h1 class="title">autoCheck</h1>
  <div class="microphone">
  <button id="micBtn"><i class="fas fa-microphone"></i></button>
  </div> 
  <div class="mic-controls">
    <button id="startBtn">Start</button>
    <button id="stopBtn">Stop</button>
  </div>

  <p id='statusText'>Click start to record</p>
  <img id="checkImage" src="./static/check.JPG" alt="checkimg">

  <script src="../static/js/script.js"></script>
</body>
</html>